@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --menu-transition: .6s all cubic-bezier(0.8, 0.11, 0.2, .9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans), Helvetica, system-ui, Arial, sans-serif;
  --font-mono: var(--font-ibm-plex-mono), monospace, ui-monospace,;
}

.code, pre {
  font-family: var(--font-mono);
}
button {
  cursor: pointer;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}



aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #101010;
  transition: var(--menu-transition);
  z-index: 100;
  overflow: hidden;
  color: #fff;
  
  .menu-wrapper {
    padding: 16vh 0 10vh 7.5vw;
    transition: .6s all ease-out .5s;
  }
  ul {
    a {
      display: flex;
      flex: 1;
    }
    span {
      display: block;
    }
  }

  ul[data-type="menu"] {
    a {
      font-weight: 300;
      line-height: 1.3;
      padding-block: 6px;
    }
    li.active {
      opacity: .5;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  ul[data-type="socials"] {
    a {
      line-height: 1.3;
    }
  }
}

.swap-text {
  transition: 1.5s cubic-bezier(.19, 1, .22, 1);
  div {
    transition: inherit;
  }
  p {
    bottom: -150%;
    transition: inherit;
    transform: skewY(10deg)
  }
  
  &:hover {
    div {
      transform: skewY(10deg) translateY(-150%);
    }
    p {
      bottom: 0;
      transform: skewY(0deg)
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .3);
  inset: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  transition: var(--menu-transition);
  opacity: 0;
  visibility: hidden;
}
aside.menu-close {
  visibility: hidden;
  width: 0;

  .menu-wrapper {
    opacity: 0;
  }
 
}
aside.menu-open {
  width: 100%;
}

.show-overlay {
  opacity: 1;
  visibility: visible;
}


@media (min-width: 760px) {
  aside.menu-open {
    width: 700px;

  }
}


.mobile-menu-inline::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -14px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: white;
}




