
.hamburgerWrapper {
    right: 3%;
    z-index: 101;
    /* mix-blend-mode: difference; */
}

.hamburger_menu{
    background-color: black;
    width: 60px;
    height: 60px;
    gap: 8px;
    transition: .3s linear;
    border-radius: 50px;
    pointer-events: none;

    div {
      width: 24px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0);

      &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .9s all cubic-bezier(0.7, 0.11, 0.2, 1) 0s;
      }
    }
  
    div::before {
      top: 0;
    }
    div::after {
      top: 100%;
    }
    .bounds {
      position: absolute;
      width: 100%;
      height: 100%;
      /* border: 1px solid red; */
      top: 0;
      left: 0;
      background-color: transparent;
      pointer-events: all;

      &:hover {
        scale: 2;
      }

      &::before {
          content: "";
          position: absolute;
          top: -0.4rem;
          right: -1rem;
          left: -3.5rem;
          bottom: -0.4rem;
      }
    }
}

.collapse div::before{
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}
.collapse div::after{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}





  
  
